html {
background-color:#3d4551;
background:linear-gradient(#3d4551,#3d2222);
height:100%;
color:#b73c4c;
margin:0;
padding:0;
}

body {
height:auto;
width:auto;
background-color:#252525;
border-radius:10px;
margin:25px;
padding:25px;
}

p {
text-align: center;
margin-top: 30px;
width: 100%;
}


section {
display: inline;
vertical-align: text-top;
overflow:auto;
font-size:1.1em;
text-shadow:1px 1px #000;
padding:5px;
}

#about-image {
border-radius: 200px;
height:400px;
width:400px;
margin:30px 30px 30px 15px;
box-shadow:3px 3px #000;
}
#image {
float: left;
height:400px;
width:400px;
border-radius:200px;
box-shadow:3px 3px #000;
margin:30px 30px 30px 15px;
}

a {
color:#BDB76B;
}

a:visited {
color:grey;
}

header,footer {
text-align:center;
font-family:'Inknut Antiqua', serif;
line-height:25px;
text-shadow:3px 3px #000;
}